In [94]:
import pandas as pd
import numpy as np
import scipy.stats as st
from statsmodels.stats.weightstats import ztest

In [53]:
df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vTSf55z1QYrnW-DfQZSHQYWZH3_jY-DtUa4ZfveiACv3Pw4Q_nXrhNu7RH3oJBkJbDJyqQC05_XNSuw/pub?gid=733781827&single=true&output=csv")
df.head(6)

   year  month  date_of_month  day_of_week  births
0  2000      1              1            6    9083
1  2000      1              2            7    8006
2  2000      1              3            1   11363
3  2000      1              4            2   13032
4  2000      1              5            3   12558
5  2000      1              6            4   12466

In [81]:
totalbirths = df["births"]
print("mean and standard deviation of average births:")
print("mean: ", np.mean(totalbirths))
print("std: ", np.std(totalbirths))

mean and standard deviation of average births:
mean:  11350.068260631502
std:  2325.6087910558854

In [55]:
allfridays = df[df["day_of_week"] == 5]
allfridays.head(6)

    year  month  date_of_month  day_of_week  births
6   2000      1              7            5   12516
13  2000      1             14            5   12180
20  2000      1             21            5   11953
27  2000      1             28            5   11934
34  2000      2              4            5   12035
41  2000      2             11            5   12411

In [80]:
fridaybirths = allfridays["births"]
print("mean and standard deviation of births on fridays:")
print("mean: ", np.mean(fridaybirths))
print("std: ", np.std(fridaybirths))

mean and standard deviation of births on fridays:
mean:  12596.162404092072
std:  985.000097611664

In [65]:
friday13births = fridaybirths[df["date_of_month"] == 13]
friday13births.head(6)

286     11723
468     10881
559     12187
986     13028
1077    11600
1259    12013
Name: births, dtype: int64

In [82]:
print("mean and standard deviation of births on friday the 13th:")
print("mean: ", np.mean(friday13births))
print("std: ", np.std(friday13births))

mean and standard deviation of births on friday the 13th:
mean:  11949.96
std:  568.4896818764611

In [105]:
print(st.ttest_1samp(friday13births, 11350))

Ttest_1sampResult(statistic=5.170176039886515, pvalue=2.7025061283396573e-05)

In [103]:
print("""although my work may have not been quite correct or clean, the p-value is well under the alpha score of .05,
      rejecting the null hypothesis that the amount of births on friday the 13th is the same as the normal average.""")

although my work may have not been quite correct or clean, the p-value is well under the alpha score of .05,
      rejecting the null hypothesis that the amount of births on friday the 13th is the same as the normal average.